<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.dal.csci4176.journalit"
    >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FITNESS" />
    <application
        android:name=".Journalit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- windowSoftInputMode="stateHidden" prevents keyboard from opening when activity is launched -->
        <activity
            android:name=".DailyEntryActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden"
            />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ca.dal.csci4176.journalit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                />
        </provider>

        <service android:name=".service.DailyStepService" />

        <receiver android:name=".service.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>